{% extends "users/main_base.html" %}
{% load static %}
{% block metadescription %}
    This is the shopping cart page. Preceed to review your items and place the order.
{% endblock %}

{% block title %}
    Cart
{% endblock %}

{% block contents %}
<br>
<br>
<br>
<link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
    {% if not cert_items %}
        <div>
            <div class="text_center">
                <br>
                <h1 class="text-center my_title">
                    Your cart is empty
                </h1>
                <br>
                <p class="text-center">
                    Please click <a href="/edu/">here</a> to countinue
                </p>
            </div>
        </div>
    {% else %}
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread class="my_custom_table">
                        <tr>
                            <th colspan="5">
                                Your Items
                            </th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/"><img src="{{ cert_items.product.image.url }}" alt=""
                                    class="float-left rounded custom_image" ></a>
                            </td>
                            <td class="text_left">
                                {{ cert_items.product.name }}
                                <br>
                                SKU: {{ cert_items.product.id }}
                                <br>
                                Unit Price: &#8361; {{ cert_items.price }}
                                <br>

                            </td>
                            <td>
                                &#8361; {{ cert_items.sub_total }}
                            </td>

                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread>
                        <tr>
                            <th>
                                Checkout
                            </th>
                        </tr>
                    </thread>   
                    <tbody>
                        <tr>
                            <td>
                                Please review your cart before payment
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Your total is : <strong>&#8361;{{ cert_items.price }}</strong>
                            </td>
                        </tr>
                    </tbody>                 
                </table>
                <div class="mx-auto">
                    <a href="/payment/payment/cert/">결제하기</a>
                </div>
                <div class="mx-auto">
                    <a href="/edu/">상품으로</a>
                </div>
            </div>
        </div>
        <br>
    
    {% endif %}
{% endblock %}