{% extends "users/main_base.html" %}
{% load static %}
{% block metadescription %}
    This is the shopping cart page. Preceed to review your items and place the order.
{% endblock %}

{% block title %}
    Cart
{% endblock %}

{% block contents %}
<br>
<br>
<br>
<link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
    {% if not cert_items %}
        <div>
            <div class="text_center">
                <br>
                <h1 class="text-center my_title">
                    Your cart is empty
                </h1>
                <br>
                <p class="text-center">
                    Please click <a href="/edu/">here</a> to countinue
                </p>
            </div>
        </div>
    {% else %}
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread class="my_custom_table">
                        <tr>
                            <th colspan="5">
                                Your Items
                            </th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/"><img src="{{ cert_items.product.image.url }}" alt=""
                                    class="float-left rounded custom_image" ></a>
                            </td>
                            <td class="text_left">
                                {{ cert_items.product.name }}
                                <br>
                                SKU: {{ cert_items.product.id }}
                                <br>
                                Unit Price: &#8361; {{ cert_items.price }}
                                <br>
                                주소:
                                <br>
                                <!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 class를 부여한다 -->
                                <input id="address1" type="text" name="address" class="postcodify_postcode5" value="" disabled/>
                                <button class="send_address" id="postcodify_search_button" >검색</button><br />
                                <input id="address2" type="text" name="address" class="postcodify_address" value="" disabled/>
                                <button class="send_address" onclick="send_address()">등록</button><br />
                                <input id="address_detail" type="text" name="address" class="postcodify_details" value="" disabled required/><br />
                                <input id="address3" type="text" name="address" class="postcodify_extra_info" value="" disabled/><br />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="cert_address">
                    배송지 :
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread>
                        <tr>
                            <th>
                                Checkout
                            </th>
                        </tr>
                    </thread>   
                    <tbody>
                        <tr>
                            <td>
                                Please review your cart before payment
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Your total is : <strong>&#8361;{{ cert_items.price }}</strong>
                            </td>
                        </tr>
                    </tbody>                 
                </table>
                <div class="mx-auto">
                    <a href="/payment/payment/cert/">결제하기</a>
                </div>
                <div class="mx-auto">
                    <a href="/edu/">상품으로</a>
                </div>
            </div>
        </div>
        <br>


<!-- jQuery와 Postcodify를 로딩한다 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>

<!-- "검색" 단추를 누르면 팝업 레이어가 열리도록 설정한다 -->
<script> 
    $(function() { 
        $("#postcodify_search_button").postcodifyPopUp(); 


    }); 


    function send_address(){
        const cert_data = {}
        let cert_address = ''
        const address = document.getElementsByName('address')
        for(i=0;i<address.length;i++){
            cert_address += (address[i].value + " ")
            console.log(cert_address)


        }

        cert_data['cert_add'] = cert_address
        cert_data['product_id'] = '{{ cert_items.product.id }}'

        console.log(cert_data)
        $.ajax({
            type: "POST",
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            url: "/cert/cert_add/",
            data: JSON.stringify(cert_data),
            dataType: "json",
            success: function (data) {
                document.getElementById('cert_address').innerText = "배송지 : " + data.cert

            },
            failure: function () {
                alert("failure");
            }
        });
    }


    function checkAdd(){
        const add_detail = document.querySelector("#address_detail")
        const add_info = document.querySelector(".code5")


        if ((add_info.innerHTML).length > 1){
            add_detail.disabled = false;
        }
    }

    setInterval(checkAdd, 100);


</script>
    {% endif %}
{% endblock %}