{% extends "users/main_base.html" %}
{% load humanize %}
{% load static %}
{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'css/quiz/score.css' %}">
<link rel="stylesheet" href="{% static 'css/exam/exam_result.css' %}">

<script src="{% static 'js/exam/quiz.js' %}"></script>

<br><br><br>
<div class="container">
    <div class="row-mt-5">
        <div class="col-12">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <strong style="font-size: 18px;">{{ exam.quiz_title }}</strong>&nbsp;&nbsp;<span style="font-size: 18px; color: gray;">[시험]</span>
                    <span style="float:right;">{{ exam.category }}</span>
                </div>
                <div id="overlay", class="cover">
                    <div  class="card-body" style="min-height: 400px; color:black;">
                        <hr>
                        <div id="quiz-time-left">
                        </div>
                        <br>
                        <form name="quiz_form" id="questions"  method="post">
                            <tbody>
                                {% for quiz in quiz_list %}
                                <div class="question">
                                    문제 {{ forloop.counter }}. {{ quiz.question }}
                                    <br>
                                    <tr class="text-center" style="cursor:pointer;" id="quiz-{{ quiz.id }}">
                                        <td style="font-weight: 500;"><label for="{{ quiz.id }}-1" style="cursor: pointer;"><input id="{{ quiz.id }}-1" type="checkbox" class="quiz" value="{{ quiz.op1 }}" name="quiz[{{ forloop.counter }}]"> 보기1 : {{ quiz.op1 }}</label></td>
                                        <br>
                                        <td style="font-weight: 500;"><label for="{{ quiz.id }}-2" style="cursor: pointer;"><input id="{{ quiz.id }}-2" type="checkbox" class="quiz" value="{{ quiz.op2 }}" name="quiz[{{ forloop.counter }}]"> 보기2 : {{ quiz.op2 }}</label></td>
                                        <br>
                                        <td style="font-weight: 500;"><label for="{{ quiz.id }}-3" style="cursor: pointer;"><input id="{{ quiz.id }}-3" type="checkbox" class="quiz" value="{{ quiz.op3 }}" name="quiz[{{ forloop.counter }}]"> 보기3 : {{ quiz.op3 }}</label></td>
                                        <br>
                                        <td style="font-weight: 500;"><label for="{{ quiz.id }}-4" style="cursor: pointer;"><input id="{{ quiz.id }}-4" type="checkbox" class="quiz" value="{{ quiz.op4 }}" name="quiz[{{ forloop.counter }}]"> 보기4 : {{ quiz.op4 }}</label></td>
                                        <br>
                                        <td style="font-weight: 500;"><label for="{{ quiz.id }}-5" style="cursor: pointer;"><input id="{{ quiz.id }}-5" type="checkbox" class="quiz" value="{{ quiz.op5 }}" name="quiz[{{ forloop.counter }}]"> 보기5 : {{ quiz.op5 }}</label></td>
                                    </tr>
                                </div>
                                <br>
                                <br>
                                {% endfor %}
                            </tbody>

                        </form>
                    </div>
                </div>

            </div>
            <br>
            <div class="text-right" style="margin-top:-15px;">
                {% if exam_auth or request.user.level == '0' %}
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/exam/{{ exam.id }}/edit/'">문제추가</button>
                <button class="btn btn-sm" id="submit_btn" data-toggle="modal" data-target="#submit_modal">제출하기</button>
                <button class="btn btn-sm" id="detail_btn" data-toggle="modal" data-target="#delete_modal">삭제</button>
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/exam/'">목록으로</button>
                {% else %}
                <button class="btn btn-sm" id="submit_btn" data-toggle="modal" data-target="#submit_modal">제출하기</button>
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/exam/'">목록으로</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">삭제경고</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>게시글을 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="submit_modal()" type="button" class="btn btn-dark">삭제하기</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="submit_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">제출</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>제출하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="submit_modal()" type="button" class="btn btn-dark">제출하기</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
                </div>
            </div>
        </div>
    </div>
    <div id="exam_result">
        <br>
        <h3 id="result_head"></h3>
        <div id="score">

        </div>
        <div id="cert">
    
        </div>
        <div id="info">

        </div>
    </div>

</div>



<script type="text/javascript">

    $("input:checkbox").on('click', function() {
    var $box = $(this);
    if ($box.is(":checked")) {
        var group = "input:checkbox[name='" + $box.attr("name") + "']";
        $(group).prop("checked", false);
        $box.prop("checked", true);
    } else {
        $box.prop("checked", false);
    }
    });

    function submit_modal(){
        
        answers = {}
        let userAnsCunt = 0;
        const questions = document.getElementsByClassName('question');
        const user_ans = document.getElementsByClassName('quiz');
        for (let i=0, n=user_ans.length; i<n; i++) 
        {
            if (user_ans[i].checked) 
            {
                userAnsCunt += 1;
                const quiz = user_ans[i].id.split('-')[0]
                answers[quiz] = user_ans[i].value
            }
        }

        if(userAnsCunt !== questions.length){
            alert("모든 문항에 답해주십시오.")
        }else{
            let quizs = document.getElementById('overlay');
            quizs.classList.add('blur-in')
            const pageId = '{{ exam.product.id }}'
            $.ajax({
            type: "POST",
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            url: "/exam/{{ exam.product.id }}/submit/",
            data: JSON.stringify(answers),
            dataType: "json",
            success: function (data) {
                let url = `/exam/${pageId}/submit/`;
                $('#submit_modal').modal("hide"); //닫기
                stop();
                const result_box = document.getElementById("exam_result");
                result_box.classList.add('is-open')
                if(data.score > 59){
                    document.getElementById('result_head').innerHTML = "축하합니다.";
                    document.getElementById("score").innerHTML = `점수 : ${data.score}`;
                    document.getElementById("cert").innerHTML =`합격`
                    const info = document.getElementById("info");

                    const cert_button = document.createElement("button");
                    cert_button.innerHTML = '수료증 출력'
                    cert_button.id = "detail_btn";
                    cert_button.classList.add("btn");
                    cert_button.classList.add("btn-sm");
                    cert_button.classList.add("cert_btn");

                    cert_button.onclick = function() { location.replace('/cert/{{ exam.product.id }}/'); };

                    info.appendChild(cert_button)



                }else{
                    document.getElementById('result_head').innerHTML = "불합격입니다.";
                    document.getElementById("score").innerHTML = data.score;
                    document.getElementById("cert").innerHTML =`불합격`;
                }

            },
            failure: function () {
                alert("failure");
            }
            });
        }
    }

    function stop() {
        if (timer) {
            clearTimeout(timer);
            timer = 0;
        }
    }
    
    </script>

{% endblock %}