{% extends "users/main_base.html" %}
{% load humanize %}
{% load static %}
{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'css/quiz/score.css' %}">
<script src="{% static 'js/exam/quiz.js' %}"></script>
<br><br><br>
<div class="container">
    <div class="row-mt-5">
        <div class="col-12">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <strong style="font-size: 18px;">{{ exam.quiz_title }}</strong>&nbsp;&nbsp;<span style="font-size: 18px; color: gray;">[시험]</span>
                    <span style="float:right;">{{ exam.category }}</span>
                </div>
                <div id="overlay", class="cover">
                    <div  class="card-body" style="min-height: 400px; color:black;">
                        <hr>
                        <div id="quiz-time-left">
                        </div>
                        <br>
                        <form name="quiz_form" id="questions" onsubmit="return score()">
                            {% for quiz in quiz_list %}
                            <div class="question">
                                문제 {{ forloop.counter }}. {{ quiz.question }}
                                <br>
                                <input type="checkbox" class="radio" value="1" name="fooby[{{ forloop.counter }}]"> 보기1 : {{ quiz.op1 }}
                                <br>
                                <input type="checkbox" class="radio" value="1" name="fooby[{{ forloop.counter }}]"> 보기2 : {{ quiz.op2 }}
                                <br>
                                <input type="checkbox" class="radio" value="1" name="fooby[{{ forloop.counter }}]"> 보기3 : {{ quiz.op3 }}
                                <br>
                                <input type="checkbox" class="radio" value="1" name="fooby[{{ forloop.counter }}]"> 보기4 : {{ quiz.op4 }}
                                <br>
                                <input type="checkbox" class="radio" value="1" name="fooby[{{ forloop.counter }}]"> 보기5 : {{ quiz.op5 }}
                                <br>
                                <br>
                                <br>
                            </div>

                            {% endfor %}
                        </form>
                    </div>
                </div>

            </div>
            <br>
            <div class="text-right" style="margin-top:-15px;">
                {% if exam_auth or request.user.level == '0' %}
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/exam/{{ exam.id }}/edit/'">문제추가</button>
                <button class="btn btn-sm" id="detail_btn" data-toggle="modal" data-target="#submit_modal">제출하기</button>
                <button class="btn btn-sm" id="detail_btn" data-toggle="modal" data-target="#delete_modal">삭제</button>
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/exam/'">목록으로</button>
                {% else %}
                <button class="btn btn-sm" id="detail_btn" data-toggle="modal" data-target="#submit_modal">제출하기</button>
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/exam/'">목록으로</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">삭제경고</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>게시글을 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal()" type="button" class="btn btn-dark">삭제하기</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="submit_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">제출</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>제출하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="submit_modal()" type="button" class="btn btn-dark">제출하기</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //컨테이너 -->
<div id="popup" class="container popup-hidden"> 
    <!-- //모달을 감쌀 박스 -->
    <div class="popup-wrap" id="popup"> 
        <!-- //실질적 모달팝업 -->
        <div class="popup">	
            <!-- //로고 영역 -->
            <div class="popup-head">	
                <span class="head-title">BYTHEM</span>
            </div>
            <!-- //컨텐츠 영역 -->
            <div class="popup-body">	
                <div class="body-content">
                    <div class="body-titlebox">
                    <h1 class="result">결과</h1>
                    </div>
                    <div class="body-contentbox">
                        <p> 모달 내용칸 </p>
                    </div>
                </div>
            </div>
        <div class="popup-foot">
          <span class="pop-btn confirm" id="confirm">확인</span>
          <span class="pop-btn" id="confirm">수료증 출력</span>
        </div>
      </div>
     </div>
</div>


<script type="text/javascript">

    // the selector will match all input controls of type :checkbox
    // and attach a click event handler 
    $("input:checkbox").on('click', function() {
    // in the handler, 'this' refers to the box clicked on
    var $box = $(this);
    if ($box.is(":checked")) {
        // the name of the box is retrieved using the .attr() method
        // as it is assumed and expected to be immutable
        var group = "input:checkbox[name='" + $box.attr("name") + "']";
        // the checked state of the group/box on the other hand will change
        // and the current value is retrieved using .prop() method
        $(group).prop("checked", false);
        $box.prop("checked", true);
    } else {
        $box.prop("checked", false);
    }
    });



    $(function(){
    $("#confirm").click(function(){
        modalClose(); //모달 닫기 함수 호출
        
        //컨펌 이벤트 처리
    });
    $("#modal-open").click(function(){        
        $("#popup").css('display','flex').hide().fadeIn();
        //팝업을 flex속성으로 바꿔준 후 hide()로 숨기고 다시 fadeIn()으로 효과
    });
    $("#close").click(function(){
        modalClose(); //모달 닫기 함수 호출
    });

    function modalClose(){
        $("#popup").fadeOut(); //페이드아웃 효과
    }
    });

    function submit_modal(){
    $.ajax({
        type: "POST",
        headers: {
            'X-CSRFTOKEN' : '{{ csrf_token }}'
        },
        url: "/exam/{{ notice.id }}/savetime/",
        data: JSON.stringify(stayedGapList),
        success: function (data) {
            // any process in data
            console.log(stayedGapList)
        },
        failure: function () {
            alert("failure");
        }
    });
}
</script>

{% endblock %}