{% extends "users/main_base.html" %}
{% load static %}

{% load humanize %}

{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block contents %}
<br><br><br>

<div class="container">
    <button class="sl-prev" onclick="prev_page()"> < </button>
    <button class="sl-next" onclick="next_page()"> > </button>
    {% if imgList %}
    {% for img in imgList %}
        <input type="hidden" class="myVar" name="imgList" value="/static/img/{{ img }}">
    {% endfor %}
    {% endif %}
    <div class="row-mt-5">
        <div class="col-12">
            <!--본문-->
            <div class="card" style="width: 100%;">
                <!--제목,분류,작성일-->
                <div class="card-header">
                    <strong style="font-size: 18px;">{{ notice.name }}</strong>&nbsp;&nbsp;<span style="font-size: 18px; color: gray;"></span>
                    <span style="float:right;">{{ notice.registered_date|date:'Y.m.d. H:i' }}</span>
                </div>
                <div class="card-body" style="min-height: 400px; color:black;">
                    <!--작성자, 조회수-->
                    <div>
                        <!-- <span><i class="fas fa-user-edit"></i>&nbsp;작성자 : {{ notice.writer }}</span> -->
                    </div>
                    <hr>
                    {% if notice.upload_files %}
                    <div class="col-12 text-right">
                        <span style="color: gray;">첨부파일 :&nbsp;</span>
                        <a id="id_uploaded_file" href="{% url 'edu:edu_download' notice.id %}" >{{ notice.filename|truncatechars:25 }}</a>
                    </div>
                    {% endif %}
                    <!--내용-->

                    <div id="img_viewer">
                        <div id="stayed">
                            
                        </div>
                        <p class="pdf">
                            <input type="hidden", id="page_num", value="0">
                            <img id='img_content' src="/static/img/{{ page1 }}">
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="text-right" style="margin-top:-15px;">
                {% if request.user.level == '0' %}
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/edu/{{ notice.id }}/edit/'">수정</button>
                <button class="btn btn-sm" id="detail_btn" data-toggle="modal" data-target="#delete_modal">삭제</button>
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/cart/add/{{ notice.id }}'">시험보기</button>
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/edu/'">목록으로</button>
                {% else %}
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/cart/add/{{ notice.id }}'">시험보기</button>
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='/edu/'">목록으로</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">삭제경고</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>게시글을 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button onclick="delete_modal()" type="button" class="btn btn-dark">삭제하기</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const today = new Date();
    const hours = today.getHours();
    const minits = today.getMinutes();
    const seconds = today.getSeconds();

    const stayedList = [`${hours}:${minits}:${seconds}`];
    const stayedGapList = [];


    const img_list = document.getElementsByName("imgList");
    const img = document.getElementById('img_content');
    let page_num = parseInt(document.getElementById('page_num').value);
    let start = 0;


    $(document).ready(function () {
        $('img').css('width', '100%');
    });

    function delete_modal() {
        location.replace('/edu/{{ notice.id }}/delete/');
    }

    function prev_page() {
        const prev_page_num = page_num - 1;
        if (prev_page_num < 0){
            alert("첫 번째 페이지 입니다.")
        } else {
            const new_src = img_list[prev_page_num].value
            img.src = new_src
            page_num = prev_page_num
        }

    }

    function next_page() {
        const next_page_num = page_num + 1;
        if (next_page_num === img_list.length){
            alert("마지막 페이지 입니다.")
            alert(start);



        } else {
            const new_src = img_list[next_page_num].value
            img.src = new_src
            page_num = next_page_num
        }
    }
    document.addEventListener('keydown', function(event) {
    if(event.keyCode == 37) {
        prev_page();
        timeCheck();
    }
    else if(event.keyCode == 39) {
        next_page();
        timeCheck();
    }

    function timeCheck(){
        const today = new Date();
        const hours = today.getHours();
        const minits = today.getMinutes();
        const seconds = today.getSeconds();
        current = `${hours}:${minits}:${seconds}`;
        stayedList.push(current);
        if(stayedList.length > 1){
            stayed = formatTime(timestrToSec(stayedList[stayedList.length - 1]) - timestrToSec(stayedList[stayedList.length - 2]));
            stayedGapList.push(stayed);
            start += timestrToSec(stayed)

        }
    }

    function timestrToSec(timestr) {
        var parts = timestr.split(":");
        return (parts[0] * 3600) +
                (parts[1] * 60) +
                (+parts[2]);
    }

    function pad(num) {
        if(num < 10) {
            return "0" + num;
        } else {
            return "" + num;
        }
    }

    function formatTime(seconds) {
        return [pad(Math.floor(seconds/3600)),
                pad(Math.floor(seconds/60)%60),
                pad(seconds%60),
                ].join(":");
    }

    function drawTime(){
        if(start){
                document.querySelector('div#stayed').innerHTML = `누적시간 : ${start}초`;
        }
    }



});

</script>

{% endblock %}