.my_custom_table {
    min-width: 400px;
    font-size: 15px;
}

.my_custom_thread {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa;
}

.custom_image {
    width: 100px;
    height: 100px;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
}

.my_custom_button {
    margin-top: 5px;
}

.cert_address{
    width: 80%;
    margin-top: 5px;
}

.send_address{
    text-align: center;
    width: 50px;
    background-color: #D34A4A !important;
    color: white;
    border-radius: 0.2em;
    outline: none;
    border:1px solid transparent;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
